@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background-color: #131313;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: white;
  /* font-family: "Roboto", sans-serif; */
}

.media-picture {
  background-image: url("/img/2012_outra.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 600px;
  background-position: center;
  height: 700px;
  width: 100%;
}

.review-score {
  background-color: #e6bd09;
  color: white;
  padding: 12px;
}

h2 {
  color: steelblue;
}

p {
  color: #bdbdbd;
}

a {
  color: yellow;
}

li {
  list-style-type: none;
  color: white;
}
